<!DOCTYPE html>
<meta charset="utf-8">
<style>
    /*add style info*/
    .hovercard {
        position: absolute;
        max-width: 400px;
        height: auto;
        padding: 5px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        font: 12px sans-serif;
    }
    
    
    path.link {
        fill: none;
        stroke-width: 2px;
    }
    
    path.link.win {
        stroke: #a6d96a;    
    }
    
    path.link.loss {
        stroke: #ca0020;
    }
    
    .label {
        point-events: none;
        font: 8px sans-serif;
        text-transform: uppercase;
    }
    
</style>

<body>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script>

// set a width and height for our SVG
var margin = 0.8,
    width = window.innerWidth*margin,
    height = window.innerHeight*margin;

// pull in data
d3.csv("battles.csv", function(error, links) {


    // create empty nodes array
    var nodes = {};
    
    // compute nodes from links data
    links.forEach(function(link) {
        link.source = nodes[link.source] ||
            (nodes[link.source] = {name: link.source});
        link.target = nodes[link.target] ||
            (nodes[link.target] = {name: link.target});
        link.value = +link.value;        
    });


    // log to console for debugging
    console.log(JSON.stringify(links, null, 4));
    console.log('nodes:');
    console.log(JSON.stringify(nodes, null, 4));
    
    // add a SVG to the body for our viz
    var svg=d3.select('body').append('svg')
        .attr('width', width)
        .attr('height', height);
        
    // add hovercard
    var hovercard = d3.select('body').append('div')
        .attr('class', 'hovercard')
        .style('opacity', 0)
        .style('width', 400);

    // use the force
    var force = d3.layout.force()
        .size([width, height])
        .nodes(d3.values(nodes))
        .links(links)
        .on("tick", tick)
        .linkDistance(100)
        .charge(-300)
        .start();
        

    svg.append("svg:defs").selectAll("marker")
        .data(["end"])
        .enter().append("svg:marker")
            .attr("id", String)
            .attr("viewBox", "0 -5 10 10")            
            .attr("refX", 25)
            .attr("refY", -1.5)
            .attr("markerWidth", 6)
            .attr("markerHeight", 6)
            .attr("orient", "auto")
            .attr("fill", "#404040")
            .append("svg:path")
                .attr("d", "M0,-5L10,0L0,5");


    var path = svg.append("svg:g").selectAll("path")
        .data(force.links())
        .enter().append("svg:path")
        .attr("marker-end", "url(#end)");

    // setup node definition
    var node = svg.selectAll('.node')
        .data(force.nodes())
        .enter().append('g')
        .attr('class', 'node')
        .call(force.drag);
        
    
   node.append('image')
        .attr('xlink:href', function (d) { return "img/"+d.name.toLowerCase()+".png"; })
        .attr("x", function(d) { return -25; })
        .attr("y", function(d) { return -25; })
        .attr("height", 50)
        .attr("width", 50);

    node.append("text")
        .attr("text-anchor", "middle")
        .attr("dy", ".35em")
        .attr("y", -30)
        .attr("class", "label")
        .text(function(d) { return d.name; });


    // tick function to create curved lines and move things around    
    function tick(e) {
        
        path.attr("d", function(d, i) {
            var dx = d.target.x - d.source.x + (i*20),
                dy = d.target.y - d.source.y + (i*20),
                dr = Math.sqrt(dx*dx+dy*dy);
            
            return "M" +
                d.source.x + "," +
                d.source.y + "A" +
                dr + "," + dr + " 0 0,1 " +
                d.target.x + "," +
                d.target.y;
                
        });
        
        path.attr("class", function(d) { return "link "+d.attacker_outcome; });
        
        
        path.on('mouseover', function(d) {
           
           hovercard.transition()
                .duration(100)
                .style('opacity', 1);
                
            var tip = 
                '<h2>' + d.name + '</h2>' +
                '<h4>' + d.source.name + ' attacked ' + d.target.name + ' and the outcome was a ' + d.attacker_outcome + '</h4>' +
                '<h3>Details</h3>' +
                '<strong> Attacker King: </strong>'+d.attacker_king + '<br/>'+
                '<strong> Battle Type: </strong>'+d.battle_type + '<br/>'+
                '<strong> Major Death?: </strong>'+d.major_death + '<br/>'+
                '<strong> Major Capture?: </strong>'+d.major_capture + '<br/>'+
                '<strong> Attacker Size: </strong>'+d.value + '<br/>'+
                '<strong> Defender Size: </strong>'+d.defender_size + '<br/>'+
                '<strong> Region / Location: </strong>'+d.region+ ' / ' + d.location + '<br/>'+
                '<strong> Attacking Commander: </strong>'+d.attacker_commander + '<br/>'+
                '<strong> Defending Commander: </strong>'+d.defender_commander;
                
                
            hovercard.html(tip)
                .style('left', d3.event.pageX + 'px')
                .style('top', d3.event.pageY + 'px');
                
            
        });
        
        path.on('mouseout', function(d) {
            
            hovercard.transition()
                .duration(100)
                .style('opacity',0);
        });

            
        node.attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")"; });
        
        
    }
    
    
});


</script>