.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

path.link.win {
  stroke: #a6db9a;
}

path.link.loss {
  stroke: #ca0020;
}

.label {
  pointer-events: none;
  font: 8px sans-serif;
  text-transform: uppercase;
  color: black;
}

.hovercard {
  position: absolute;
  max-width: 400px;
  height: auto;
  padding: 5px;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font: 12px sans-serif;
}

.border {
  fill: none;
  stroke: #999;
}

.county {
  fill: none;
  stroke-width: 0.5;
}

.state {
  fill: none;
  stroke: #666;
}

.land{
  fill: #e5e5e5;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
}